<div class="specifications">
  <div class="alert alert-primary specifications__alert" *ngIf="specifications.length == 0">No specifications found!</div>
  <app-specification-modal [buttonText]="'+'" [buttonClass]="'specifications__modal-button-add'"></app-specification-modal>
  <div class="card specifications__card" *ngFor="let spec of specifications">
    <div class="card-body">
      <h4 class="card-title">{{spec.producer}} {{spec.name}}</h4>
      <p class="card-text">{{spec.comment}}</p>
      <p class="card-text">
        <b>energy: </b >{{spec.energyKCal | round:0}}kcal / {{spec.energyKCal | energyConverter}}kJ<br>
        <b>fats: </b>{{spec.fats | round:1}}g<br>
        <b>saturatedFats: </b>{{spec.saturatedFats | round:1}}g<br>
        <b>carbohydrates: </b> {{spec.carbohydrates | round:1}}g<br>
        <b>sugars: </b>{{spec.sugars | round:1}}g<br>
        <b>protein: </b>{{spec.protein | round:1}}g<br>
        <b>salt: </b>{{spec.salt | round:3}}g<br>
      </p>
      <app-specification-modal [specification]="spec" [buttonText]="'edit'"></app-specification-modal>
    </div>
  </div>
</div>
